*{
   
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-image: url("bg.jpg");
    font-family: "Nunito",sans-serif;
  }
  
  .input{
    text-align: center;
    margin: 80px auto;
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background: #f5bcbc87;
    border: none;
    border-radius: none;
    font-family: "lucida",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background:#67e4e080;
    border: none;
    border-radius: 1px;
    font-family: "Nutino",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .card{
    width: 50%;
    background:#e7e7e76b;
    height: 50vh;
    margin: 50px auto;
    border-radius: 1px;
  }
  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 5px 0;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    padding:10px 0;
    font-size:20px;
  }